<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>奈良高専祭2018</title>

    <!-- Vue.js -->
    <script src="js/vue.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="grai">
    <div id="page" class="container">
        <!-- top -->
        <div id="top">
            第52回奈良高専高専祭
            <h1>熱狂！ウルトラ高専祭！</h1>
        </div>

        <!-- about -->
        <div id="about">
            <h3 class="titlle"><img src="images/icon/code.svg" alt="icon"> 高専祭について</h3>
            <p>&emsp;今年度の高専祭実行委員長の中満悠人です。 このたびは奈良高専祭公式サイトをご覧いただき、ありがとうございます。 高専祭では学生主体で行われる様々な企画を用意しています。<br>
                体育館内ステージでは軽音楽部や吹奏楽部による演奏や高専祭実行委員会によるステージ企画を行います。屋内の教室では各学科、クラブ団体の様々な特徴のある展示物や実験体験コーナーなどがある学科展が開催されます。屋外には各クラブ、同好会、各クラスなどの団体が出店している模擬店が並びます。学生だけでなく近隣にお住まいの方々、
                子どもからお年寄りまで楽しめるお祭りになっております。
                <br>今年の高専祭のテーマは「<span class="thema t-orange">熱狂！ウルトラ高専祭！</span>」に決まりました。皆さんに熱狂して楽しんでいただけるよう、
                私たちも努力を惜しまず準備を進めてまいります。みなさまのご来場を心よりお待ちしております！</p>

        </div>

        <!-- 学科展示 -->
        <div id="depart_exhibition">
            <h3 class="titlle"><img src="images/icon/desktop.svg" alt="icon"> 学科展</h3>
            <div v-for="(value) in depart">
                <div class="card cream" v-bind:style="{ border: 'solid 6px var(' + value.color + ')'}" style="opacity: 0.9;">
                    <div class="card-body">
                        <h4 class="card-title" v-bind:style="{ color: 'var(' + value.color + ')'}">{{
                            value.name }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted t-grai">場所：{{ value.place }}</h6>
                        <p class="card-text t-grai" v-for="(value) in value.contents">{{ value }}</p>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <!-- 一般展示 -->
        <div id="exhibition">
            <h3 class="titlle"><img src="images/icon/puzzle-piece.svg" alt="icon"> その他展示</h3>
            <div v-for="(value) in exhibition">
                <div class="card cream" style="opacity: 0.9; border: solid 6px var(--orange);">
                    <div class="card-body">
                        <h4 class="card-title t-yellowgreen">
                            {{ value.name }}
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted t-grai">場所：{{ value.place }}</h6>
                        <p class="card-text t-grai" v-for="(value) in value.contents"  style="display: inline;">
                            <span v-if="value.type == '##'" class="t-grai" style="font-weight: bold; color: var(--pink)">
                                {{ value.contents }}<br>
                            </span>
                            <span v-else="value.type == ''" class="t-grai" style="display: inline;">
                                {{ value }}<br>
                            </span>
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <!-- 模擬店 -->
        <div id="food">
            <h3 class="titlle"><img src="images/icon/coffee.svg" alt="icon"> 模擬店</h3>
        </div>

        <!-- 企画 -->
        <div id="plan">
            <h3 class="titlle"><img src="images/icon/dice.svg" alt="icon"> 企画</h3>
        </div>

        <!-- アクセス -->
        <div id="access">
            <h3 class="titlle"><img src="images/icon/subway.svg" alt="icon"> アクセス</h3>
        </div>
    </div>

    <!-- JS Load -->
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- popper.js -->
    <script src="js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->

    <!-- Custom JS -->
    <script src="js/script.js"></script>

    <script type="text/javascript">
    </script>
</body>

</html>